.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms{
    display: block;
    align-items: center;
    flex-direction: column;
    
}
.formulario{
    display: flex;
    flex-direction: column;
    
}
.container{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 320px;
    font-size: 14px;
    font-weight: 100;
    gap: 5px;
}

.checkbox{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.checkbox div{
    padding: 0;
}

h2 {
    text-align: left;
    font-weight: 800;
}


.checkbox span{
    font-weight: 100;
    font-size: 12px;
}
button {
    width: 200px;
    height: 40px;
    margin-left: 8px;
    float: left;
}

.titulo {
    margin-left: 8px;
}